@import './variables.scss';
@import './mixin.scss';
// @import './reset';
// @import './border';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  font-size: 14PX;
  background-color: $background-color;
}

.app-container {
  padding-bottom: 50px;
}
